/* Kleurenpalet
#111111 - achtergrond
#999999 - primary
#2F3E46 - tekst
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Laptop viewport */
body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1em;
    margin: 0;
    background-color: #111111;
    height: 100dvh;
    font-family: 'Lato', sans-serif;
    padding: 1em;
    color: #999999;
}

aside {
    background-color: #333333;
    border-radius: 10px;
    padding: 15px;
}

aside h1 {
    padding-bottom: 5px;
}

aside h2,
hr {
    border: 0.1px solid #999999;
}

section {
    display: grid;
    grid-template-rows: 1fr;
    gap: 1em;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: "";

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1em;
}

ul li {
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border: 1px solid #333333;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}


li#intro {
    padding-left: 20px;
    background-color: #333333;
    border-radius: 10px;
    grid-row: 2 / span 2;
    grid-column: 3 / span 2;
    border: none;
    -webkit-filter: none;
    filter: none;
}

li#intro p {
    white-space: pre-line;
    width: 90%;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/white-space */

.active {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    border: 2px #333333 solid;
}

ul li:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    border: 2px #333333 solid;
}

ul li:nth-child(1) {
    background-image: url("../assets/Squad1J-Ahlam.JPG");
}

ul li:nth-child(2) {
    background-image: url("../assets/Squad1J-Anass.JPG");
}

ul li:nth-child(3) {
    background-image: url("../assets/Squad1J-Ayoub.JPG");
}

ul li:nth-child(4) {
    background-image: url("../assets/Squad1J-Bronx-2.JPG");
}

ul li:nth-child(5) {
    background-image: url("../assets/Squad1J-Chama.JPG");
}

ul li:nth-child(6) {
    background-image: url("../assets/Squad1J-Heba.JPG");
}

ul li:nth-child(7) {
    background-image: url("../assets/Squad1J-Iman.JPG");
}

ul li:nth-child(8) {
    background-image: url("../assets/Squad1J-Jadon.JPG");
}

ul li:nth-child(9) {
    background-image: url("../assets/Squad1J-Jamie.JPG");
}

ul li:nth-child(11) {
    background-image: url("../assets/Squad1J-Jamil.JPG");
}

ul li:nth-child(12) {
    background-image: url("../assets/Squad1J-Jasin-1.JPG");
}

ul li:nth-child(13) {
    background-image: url("../assets/Squad1J-Julian.JPG");
}

ul li:nth-child(14) {
    background-image: url("../assets/Squad1J-Ké.JPG");
}

ul li:nth-child(15) {
    background-image: url("../assets/Squad1J-Kevin.JPG");
}

ul li:nth-child(16) {
    background-image: url("../assets/Squad1J-Kurollos.JPG");
}

ul li:nth-child(17) {
    background-image: url("../assets/Squad1J-Luc.JPG");
}

ul li:nth-child(18) {
    background-image: url("../assets/Squad1J-Luka.JPG");
}

ul li:nth-child(19) {
    background-image: url("../assets/Squad1J-Lynn.JPG");
}

ul li:nth-child(20) {
    background-image: url("../assets/Squad1J-Maarten.JPG");
}

ul li:nth-child(21) {
    background-image: url("../assets/Squad1J-Mathijs.JPG");
}

ul li:nth-child(22) {
    background-image: url("../assets/Squad1J-Meraichio.JPG");
}

ul li:nth-child(23) {
    background-image: url("../assets/Squad1J-Mete.jpeg");
}

ul li:nth-child(24) {
    background-image: url("../assets/Squad1J-Sadaf.JPG");
}

ul li:nth-child(25) {
    background-image: url("../assets/Squad1J-Sieuwke.JPG");
}

ul li:nth-child(26) {
    background-image: url("../assets/Squad1J-Tom.JPG");
}

ul li:nth-child(27) {
    background-image: url("../assets/Squad1J-Yassine.JPG");
}


@media screen and (max-width:450px) {
    body {
        margin: 0;
        font-family: Lato, sans-serif;
        background-color: #111;
        color: #999;
    }

    aside,
    section ul {
        display: none;
    }
}